#lxp-submit-form{
    margin: 0;
    padding: 20px;
    width: 500px;
}
#lxp-submit-form input{
    width: 100%;
}
button#lxp-update-data {
    float: right;
    margin: 0 10px;
}
.loader-wrap {
     display: none;
    position: fixed;
    width: 600px;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: 100;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: relative;
    top: 25%;
    left: 40%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.status-message-success {
    display: none;
    background: #5eab13;
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    font-weight: 600;
}
.status-message-error {
    display: none;
    background: #ff0000;;
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    font-weight: 600;
}
.lxp-status {
    position: ABSOLUTE;
    top: 36%;
    left: 130px;
}